.banner {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 30%), url(../../images/background.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.bannerbooks {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 30%), url(../../images/backgroundbooks.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.bannergallery {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 30%), url(../../images/backgroundgallery.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.bannerhistoire {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 30%), url(../../images/backgroundhistoire.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}


.banner1 {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 30%), url(../../images/background1.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner2 {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 30%), url(../../images/background2.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner3 {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 30%), url(../../images/background3.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}


.banner4 {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 30%), url(../../images/background4.jpg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner5 {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 30%), url(../../images/background5.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px;
}


.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;

}
